!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %title QuantiTTus

          / Bootstrap
          %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600", :rel => "stylesheet", :type => "text/css"}/
          = stylesheet_link_tag "application.css"
          %link{:href => "/assets/bootstrap.min.css", :rel => "stylesheet"}
            / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
            / WARNING: Respond.js doesn't work if you view the page via file://
            /[if lt IE 9]
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          =yield :stylesheets
          = stylesheet_link_tag "media.query.css"
          =stylesheet_link_tag "custom.sato7.css"
  %body
    %header
      .container
        .row
          .col-md-4.logo
            =link_to(image_tag("template/logo.png"), root_path)
          .col-md-8.menu
            %ul
              %li=link_to "A QuantiTTus", company_index_path
              %li=link_to "Equipe", team_index_path
              %li=link_to "Notícias", news_index_path
              %li=link_to "Serviços", ba_servicos_path
              %li=link_to "Produtos", produtos_path
              %li=link_to "Consultoria", consultoria_path
              %li=link_to "Contato", new_sitecontact_path
        
        =yield :highlight
        
    
    =yield
            
    =render :file => "layouts/_footer.html.erb"
    
    
    = javascript_include_tag "application"
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
    %script{:src => "/assets/bootstrap.min.js"}
    = javascript_include_tag "jquery.center.js"
    = javascript_include_tag "jquery.dimensions.js"
    = javascript_include_tag "jcycle.js"
    
    :javascript
      $(document).ready(function () {
        resize();
        
        $('.slide').cycle({
        		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        	});
      });
      
      //RESIZES
      $(window).resize(function(){ resize(); });
      
      function resize(){
      	$(".image img") 
      	  .width($(window).width()) 
      	  .height($(window).width() * .67); 

      	if($(".image img").height() <= $(window).height()){	
      		$(".image img")
      		  .height($(window).height())
      		  .width($(window).height() * 1.5);	
      	}

      	$(".image img").center();
      }
